### Finding Similarities between movies

In [1]:
# Libs
import pandas as pd

### Load data from csvs

In [2]:
r_cols  = ['user_id', 'movie_id', 'rating']
ratings = pd.read_csv('data/u.data', sep='\t', names=r_cols, usecols=range(3)) 

m_cols = ['movie_id', 'title']
movies = pd.read_csv('data/u.item', sep='|', names=m_cols, usecols=range(2) , encoding='latin-1')

### Merge dataset

In [3]:
ratings = pd.merge(movies, ratings)
ratings.head()

   movie_id             title  user_id  rating
0         1  Toy Story (1995)      308       4
1         1  Toy Story (1995)      287       5
2         1  Toy Story (1995)      148       4
3         1  Toy Story (1995)      280       4
4         1  Toy Story (1995)       66       3

### EAD

In [4]:
ratings.shape

(100003, 4)

In [5]:
ratings.columns

Index(['movie_id', 'title', 'user_id', 'rating'], dtype='object')

### Transform Data

In [6]:
moviesRatings = ratings.pivot_table(index=['user_id'], columns=['title'], values='rating')
moviesRatings.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
moviesRatings.shape

(944, 1664)

### Star Wars films - get all ratings from users

In [8]:
starWarsRatings = moviesRatings['Star Wars (1977)']
starWarsRatings.head()

user_id
0    5.0
1    5.0
2    5.0
3    NaN
4    5.0
Name: Star Wars (1977), dtype: float64

In [9]:
starWarsRatings.isna().sum()

360

In [10]:
starWarsRatings.shape

(944,)

In [11]:
starWarsRatings.mean()

4.359589041095891

In [12]:
starWarsRatings.median()

5.0

In [13]:
starWarsRatings.min()

1.0

In [14]:
starWarsRatings

user_id
0      5.0
1      5.0
2      5.0
3      NaN
4      5.0
      ...
939    NaN
940    4.0
941    NaN
942    5.0
943    4.0
Name: Star Wars (1977), Length: 944, dtype: float64

### Correlate every column 
#### starWars movie with all other columns

In [18]:
similarMovies = moviesRatings.corrwith(starWarsRatings)
similarMovies = similarMovies.dropna()

D:\anaconda3\lib\site-packages\numpy\lib\function_base.py:2683: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
D:\anaconda3\lib\site-packages\numpy\lib\function_base.py:2542: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

In [20]:
df = pd.DataFrame(similarMovies)
df.head(50)

                                                           0
title
'Til There Was You (1997)                           0.872872
1-900 (1994)                                       -0.645497
101 Dalmatians (1996)                               0.211132
12 Angry Men (1957)                                 0.184289
187 (1997)                                          0.027398
2 Days in the Valley (1996)                         0.066654
20,000 Leagues Under the Sea (1954)                 0.289768
2001: A Space Odyssey (1968)                        0.230884
39 Steps, The (1935)                                0.106453
8 1/2 (1963)                                       -0.142977
8 Heads in a Duffel Bag (1997)                     -0.577350
8 Seconds (1994)                                   -0.755929
A Chef in Love (1996)                               0.868599
Above the Rim (1994)                               -0.645497
Absolute Power (1997)                               0.085440
Abyss, The (1989)                                   0.203709
Ace Ventura: Pet Detective (1994)                   0.062689
Ace Ventura: When Nature Calls (1995)               0.094514
Across the Sea of Time (1995)                      -0.132453
Addams Family Values (1993)                         0.132264
Addicted to Love (1997)                             0.028173
Addiction, The (1995)                               0.507093
Adventures of Pinocchio, The (1996)                 0.111616
Adventures of Priscilla, Queen of the Desert, T...  0.054740
Adventures of Robin Hood, The (1938)                0.144587
Affair to Remember, An (1957)                       0.225451
African Queen, The (1951)                           0.230540
Afterglow (1997)                                    0.420084
Age of Innocence, The (1993)                       -0.037176
Air Bud (1997)                                      0.012557
Air Force One (1997)                                0.113164
Air Up There, The (1994)                            0.327327
Airheads (1994)                                    -0.127953
Akira (1988)                                        0.142450
Aladdin (1992)                                      0.191621
Aladdin and the King of Thieves (1996)             -0.262071
Alaska (1996)                                      -0.263123
Albino Alligator (1996)                             0.968496
Alice in Wonderland (1951)                          0.202436
Alien (1979)                                        0.248991
Alien 3 (1992)                                     -0.064746
Alien: Resurrection (1997)                          0.217759
Aliens (1986)                                       0.254444
All About Eve (1950)                               -0.098772
All Dogs Go to Heaven 2 (1996)                      0.312250
Alphaville (1965)                                  -0.213302
Amadeus (1984)                                      0.190280
Amateur (1994)                                     -0.133602
Amazing Panda Adventure, The (1995)                 0.425436
American Buffalo (1996)                             0.722592

In [23]:
similarMovies.sort_values(ascending=False)

title
Hollow Reed (1996)                   1.0
Stripes (1981)                       1.0
Star Wars (1977)                     1.0
Man of the Year (1995)               1.0
Beans of Egypt, Maine, The (1994)    1.0
                                    ...
For Ever Mozart (1996)              -1.0
Frankie Starlight (1995)            -1.0
I Like It Like That (1994)          -1.0
American Dream (1990)               -1.0
Theodore Rex (1995)                 -1.0
Length: 1410, dtype: float64

### Evaluating similarity and quantity

In [26]:
import numpy as np
movieStats = ratings.groupby('title').agg({'rating': [np.size, np.mean]})
movieStats.head()

                          rating
                            size      mean
title
'Til There Was You (1997)      9  2.333333
1-900 (1994)                   5  2.600000
101 Dalmatians (1996)        109  2.908257
12 Angry Men (1957)          125  4.344000
187 (1997)                    41  3.024390

### Cut of in 100 ratings

In [27]:
popularMovies = movieStats['rating']['size'] >= 100
movieStats[popularMovies].sort_values([('rating', 'mean')], ascending=False)[:15]

                                       rating
                                         size      mean
title
Close Shave, A (1995)                     112  4.491071
Schindler's List (1993)                   298  4.466443
Wrong Trousers, The (1993)                118  4.466102
Casablanca (1942)                         243  4.456790
Shawshank Redemption, The (1994)          283  4.445230
Rear Window (1954)                        209  4.387560
Usual Suspects, The (1995)                267  4.385768
Star Wars (1977)                          584  4.359589
12 Angry Men (1957)                       125  4.344000
Citizen Kane (1941)                       198  4.292929
To Kill a Mockingbird (1962)              219  4.292237
One Flew Over the Cuckoo's Nest (1975)    264  4.291667
Silence of the Lambs, The (1991)          390  4.289744
North by Northwest (1959)                 179  4.284916
Godfather, The (1972)                     413  4.283293

### New DataFrame of startwars recomendations

In [29]:
df = movieStats[popularMovies].join(pd.DataFrame(similarMovies, columns=['similarity']))

C:\Users\lucia\AppData\Local\Temp\ipykernel_5652\705301297.py:1: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (2 levels on the left, 1 on the right)
  df = movieStats[popularMovies].join(pd.DataFrame(similarMovies, columns=['similarity']))

In [30]:
df.head()

                              (rating, size)  (rating, mean)  similarity
title
101 Dalmatians (1996)                    109        2.908257    0.211132
12 Angry Men (1957)                      125        4.344000    0.184289
2001: A Space Odyssey (1968)             259        3.969112    0.230884
Absolute Power (1997)                    127        3.370079    0.085440
Abyss, The (1989)                        151        3.589404    0.203709

In [31]:
df.sort_values(['similarity'], ascending=False)[:15]

,"(rating, size)","(rating, mean)",similarity
title,,,
Star Wars (1977),584,4.359589,1.000000
"Empire Strikes Back, The (1980)",368,4.206522,0.748353
Return of the Jedi (1983),507,4.007890,0.672556
Raiders of the Lost Ark (1981),420,4.252381,0.536117
Austin Powers: International Man of Mystery (1997),130,3.246154,0.377433
"Sting, The (1973)",241,4.058091,0.367538
Indiana Jones and the Last Crusade (1989),331,3.930514,0.350107
Pinocchio (1940),101,3.673267,0.347868
"Frighteners, The (1996)",115,3.234783,0.332729
L.A. Confidential (1997),297,4.161616,0.319065
Wag the Dog (1997),137,3.510949,0.318645
Dumbo (1941),123,3.495935,0.317656
"Bridge on the River Kwai, The (1957)",165,4.175758,0.316580
"Philadelphia Story, The (1940)",104,4.115385,0.314272
Miracle on 34th Street (1994),101,3.722772,0.310921