### How much the data is the same or not

In [1]:
from IPython.display import Image

In [4]:
Image(url='entropy.png', width=400, height=500)

In [5]:
from scipy.stats import entropy as en

In [6]:
## My data for entropy
import numpy as np
import pandas as pd
age = [np.random.uniform(15,80) for x in range(100)]
salary = [np.random.uniform(15000, 220000) for x in range(100)]

In [7]:
df = pd.DataFrame({'age':age, 'salary':salary})

In [8]:
en(df['age'].value_counts())

4.60517018598809

In [9]:
en(df['salary'].value_counts())

4.60517018598809