### KNN (K-Nearest-Neighbors)

In [5]:
# Libs
import pandas as pd
import numpy as np

### Read data

In [3]:
r_cols = ['user_id', 'movie_id', 'rating']
ratings = pd.read_csv('data/u.data', sep='\t', names=r_cols, usecols=range(3))

### EDA - Explore Data Analitics

In [4]:
ratings.head()

   user_id  movie_id  rating
0        0        50       5
1        0       172       5
2        0       133       1
3      196       242       3
4      186       302       3

### Group movie by ID, and compute the total number of rating and the avarage for every MOVIE

In [6]:
movieProperties = ratings.groupby('movie_id').agg({'rating': [np.size, np.mean]})
movieProperties.head()

         rating
           size      mean
movie_id
1           452  3.878319
2           131  3.206107
3            90  3.033333
4           209  3.550239
5            86  3.302326

In [7]:
movieProperties.shape

(1682, 2)